.App {
  z-index: -2;
}

/*
  Page Content
*/
body {
  z-index: -1;
  background-image: url("./weatherBackGroundMinimal.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: stretch;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contentContainer {
  position: relative;
  text-align: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  /*background-color: rgba(166, 183, 206, 0);*/
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

/*
  Navbar 
*/
.navBar {
  margin: 0 auto;
}

.backToTopForm {
  padding-right: 3%;
}

.backToTopButton {
  background: #343a40;
}

/*
  Form - Zip Search, Button and relevant text
*/
.formContainer {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.formLabel {
  float: left;
  left: 0px;
  padding-left: 5px;
}

.formText {
  font-size: x-small;
}

/*
  Cards - Main content, weather cards to display data
*/
.cardDeckContainer {
  padding: 2%;
  height: 100%;
}

.cardDeck {
  justify-content: center;
}

.weatherCards {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  margin: 5% auto;
  transition: transform 0.3s;
  width: 18rem;
  max-width: 30em;
  min-width: 18rem;
}

.weatherCards:hover {
  z-index: 5;
  transform: scale(1.05);
}

.bsCardImage {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
  Footer
*/
.footerContainer {
  background-color: #343a40;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.25rem;
  position: absolute;
  padding: 1%;
  width: 100%;
}

.footer {
  padding: 1%;
}
